p{
    color: brown;
    text-align: justify;
    font-size: 20px;
}

h1{
    color: red;
    text-align: center;
    font-style: italic;
    text-decoration: overline underline;
    font-size: 40px;
}

#paragrafo1{
    color: rgb(255,0,255);
}

#paragrafo2{
    color: rgb(227, 140, 33);
}