p{
    color: brown;
    text-align: justify;
    font-size: 20px;
}

h1{
    color: red;
    text-align: center;
    font-style: italic;
    text-decoration: overline underline;
    font-size: 40px;
}

img{
    border: 50px;
    border-color: rgb(255,100,0);


}

#paragrafo1{
    color: rgb(255,0,255);
}

#paragrafo2{
    color: rgb(0, 0, 255);
}

.destaque{
    color: rgb(255,255,0);
    background-color: rgb(255,0,0);
    font-style: italic;
    text-decoration: dotted;
    font-weight: bold;
}